@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}

.main-section{
    max-width: 1170px;
    margin: 100px auto;
    

}
.Professional-section-content{
    border-top: 2px dotted rgba(19, 19, 24, 0.20);
    border-bottom: 2px dotted rgba(19, 19, 24, 0.20);
}.program-section{
    background: linear-gradient(to right, rgba(19 , 19, 24, 0.50), rgba(19, 19, 24, 0.8));
}